<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
    <head>
        <title>Operation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"  />
        <link rel="stylesheet" type="text/css"  href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    </head>
    <body>
        <div layout:fragment="content" class="container"> 
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Consultation d'un compte</div>
                    <div class="panel-body">
                        <form th:action="@{/consulterCompte}" method="GET">
                            <div class="form-group">
                                <label class="control-label">Code compte:</label>
                                <input class="form-control" name="codeCompte" th:value="${codeCompte}"/><br>
                                <button type="submit" class="btn btn-primary">Chercher</button>
                            </div>
                        </form>
                        <div class ="text-danger"  th:if="${exception}" th:text="${exception.message}"></div>
                    </div>
                </div>
                <div class="panel panel-primary" th:if="${compte}">
                    <div class="panel-heading">Information sur le compte</div>
                    <div class="panel-body">
                        <div>
                            <label>Client: </label>
                            <label th:text="${compte.client.nom}"></label>
                        </div><br >
                        <div>
                            <label>Code: </label>
                            <label th:text="${compte.codeCompte}"></label>
                        </div><br >
                        <div>
                            <label>Solde: </label>
                            <label th:text="${compte.solde}"></label>
                        </div><br >
                        <div>
                            <label>Date de Création: </label>
                            <label th:text="${compte.dateCreation}"></label>
                        </div><br >
                        <div>
                            <label>Type: </label>
                            <label th:text="${compte.class.simpleName}"></label>
                        </div><br >
                        <div th:if="${compte.class.simpleName}=='CompteCourant'">
                            <label>Decouvert: </label>
                            <label th:text="${compte.decouvert}"></label>
                        </div>
                        <div th:if="${compte.class.simpleName}=='CompteEpargne'">
                            <label>Taux: </label>
                            <label th:text="${compte.taux}"></label>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="panel panel-primary" th:if="${compte}">
                    <div class="panel-heading">Operation sur le compte</div>
                    <div class="panel-body">
                        <form th:action="@{/saveOperation}" method="POST">
                            <div class="form-group">
                                <label>Compte:</label>
                                <input type="hidden" name="codeCompte" th:value="${codeCompte}"/>
                                <label th:text="${codeCompte}"></label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="typeOperation" value ="VER" checked="checked" 
                                       onchange="document.getElementById('forVirement').style.display='none'"/>
                                <label class="control-label">Versement</label>
                                
                                <input type="radio" name="typeOperation" value ="RET" onchange="document.getElementById('forVirement').style.display='none'"/>
                                <label class="control-label">Retrait</label>                                
                                
                                <input type="radio" name="typeOperation" value ="VIR" onchange="document.getElementById('forVirement').style.display='block'"/>
                                <label class="control-label">Virement</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Montant</label>
                                <input type="text" name="montant" />
                            </div>
                            <div class="form-group" id="forVirement" style="display: none">
                                <label class="control-label">Vers</label>
                                <input type="text" name="codeCompte2" />
                            </div>
                            <div class="text-danger" th:text="${#httpServletRequest.getParameter('error')}">
                                
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>  
                <div class="panel panel-primary" th:if="${compte}">
                    <div class="panel-heading">Liste des opérations</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr>
                                <th>Numéro</th> <th>Type</th> <th>Montant</th> <th>Date d'operation</th>
                            </tr>
                            <tr th:each="o:${listOperation}">
                                <td th:text="${o.numero}"></td>
                                <td th:text="${o.class.simpleName}"></td>
                                <td th:text="${o.montant}"></td>
                                <td th:text="${o.dateOperation}"></td>
                            </tr>
                        </table>
                        <div>
                            <ul class="nav nav-pills">
                                <li th:each="o,status:${pages}" th:class="${pageCourante==status.index}?'active':''">
                                    <a th:href="@{/consulterCompte(codeCompte=${codeCompte},page=${status.index})}" th:text="${status.index}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
</html>
